* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.01em;
}

* {
  box-sizing: border-box;
}

main {
  background-color: #000;
}

.container {
  background-color: #FAFBFF;
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .container {
    width: 1440px;
    height: 1198px;
    margin: auto;
  }
}

.side-menu {
  display: none;
  flex-direction: column;
  height: 1198px;
  width: 306px;
  padding: 36px 0 76px 28px;
  background-color: #fff;
}
@media (min-width: 1280px) {
  .side-menu {
    display: flex;
  }
}
.side-menu__nav {
  margin-top: 65px;
}
.side-menu__nav-btn:not(:first-child) {
  margin-top: 16px;
}
.side-menu__user-info {
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: auto;
}
.side-menu__user-name {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.side-menu__user-name :last-child {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}
.logo__info {
  display: flex;
  margin-left: 10px;
  align-items: flex-end;
}
.logo__img {
  width: 30px;
  height: 32px;
}
.logo__version {
  font-size: 10px;
  color: #838383;
  align-self: flex-end;
  margin-left: 4px;
  line-height: 10px;
}
.logo__text {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  align-self: flex-end;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 46px;
  border-radius: 8px;
  border: none;
  padding: 13px;
  background-color: #fff;
  cursor: pointer;
}
.btn__context {
  display: flex;
  align-items: center;
}
.btn__text {
  margin-left: 16px;
  color: #9197B3;
}
.btn--active {
  background: #5932EA;
}
.btn--active span {
  color: #fff;
}

@media (min-width: 1280px) {
  .operations {
    padding: 41px 71px;
  }
}
.operations__title {
  display: none;
}
@media (min-width: 1280px) {
  .operations__title {
    display: block;
    margin: 0;
    font-size: 24px;
    line-height: 36px;
  }
}
.operations__customers {
  background-color: #fff;
}
@media (min-width: 1280px) {
  .operations__customers {
    width: 968px;
    margin-top: 51px;
  }
}

.customers {
  padding: 30px 20px 38px 20px;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  background-color: #fff;
  color: #292D32;
}
@media (min-width: 1280px) {
  .customers {
    padding: 30px 40px 38px 41px;
  }
}
.customers__header {
  flex-direction: column;
  margin: 13px 0 0 0;
  display: flex;
}
@media (min-width: 1280px) {
  .customers__header {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 13px;
  }
}
.customers__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin: 0;
}
.customers__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #16C098;
  margin-top: 7px;
}
.customers__search {
  display: flex;
  align-items: center;
  position: relative;
}
.customers__search-input {
  background: #F9FBFF;
  border-radius: 10px;
  padding: 10px 10px 10px 40px;
  border: none;
  width: 100%;
}
.customers__search-input::placeholder {
  color: #B5B7C0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.customers__search-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  color: #7E7E7E;
  z-index: 2;
  left: 11px;
}
.customers__table-content {
  margin: 40px 0 0 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}
.customers__table-head {
  color: #B5B7C0;
  border-bottom: 1px solid #EEE;
  position: relative;
}
@media (min-width: 1280px) {
  .customers__table-head:before {
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    content: "";
    border-bottom: 1px solid #eee;
    top: 34px;
    left: -40px;
  }
}
@media (min-width: 1280px) {
  .customers__table-head:after {
    position: absolute;
    display: block;
    width: 40px;
    height: 1px;
    content: "";
    border-bottom: 1px solid #eee;
    top: 34px;
    right: -40px;
  }
}
.customers__pagination {
  margin-top: 32px;
}
.customers__table-header-status {
  text-align: center;
}
.customers__table-status {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 4px 0;
  background: #FFC5C5;
  border: 1px solid #DF0404;
  color: #DF0404;
  border-radius: 4px;
  font-size: 10px;
}
@media (min-width: 1280px) {
  .customers__table-status {
    max-width: 80px;
    font-size: 14px;
  }
}
.customers__table-status--active {
  background: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  color: #008767;
}

th {
  text-align: left;
  padding: 0 0 14px 0;
  font-size: 10px;
}
@media (min-width: 1280px) {
  th {
    font-size: 14px;
  }
}

td {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 10px;
}
@media (min-width: 1280px) {
  td {
    max-width: 100px;
    font-size: 14px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
}
.pagination__text {
  color: #B5B7C0;
  font-size: 10px;
  line-height: 21px;
}
@media (min-width: 1280px) {
  .pagination__text {
    font-size: 14px;
  }
}
.pagination__btns :not(:last-child) {
  margin: 0 4px 0 0;
}
.pagination__btns :not(:last-child):nth-child(3), .pagination__btns :not(:last-child):nth-child(4), .pagination__btns :not(:last-child):nth-child(5) {
  display: none;
}
@media (min-width: 1280px) {
  .pagination__btns :not(:last-child) {
    margin: 0 12px 0 0;
  }
  .pagination__btns :not(:last-child):nth-child(3), .pagination__btns :not(:last-child):nth-child(4), .pagination__btns :not(:last-child):nth-child(5) {
    display: block;
  }
}
.pagination__btn {
  float: left;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 4px;
  color: #404B52;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
  padding: 3px 6px;
}
@media (min-width: 1280px) {
  .pagination__btn {
    font-size: 12px;
    line-height: 100%;
    padding: 6px 9px;
    text-align: center;
  }
}
.pagination__btn--current {
  border: 1px solid #5932EA;
  background: #5932EA;
  color: #fff;
}
.pagination__btn--dots {
  background-color: #fff;
  border: none;
  padding: 6px 0 0 0;
  width: 9px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7;
  text-align: center;
  position: fixed;
  padding: 4px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.header__menu {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.header__img {
  width: 100%;
  height: 100%;
}
@media (min-width: 1280px) {
  .header {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
