.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 46px;
  border-radius: 8px;
  border: none;
  padding: 13px;
  background-color: #fff;
  cursor: pointer;

  &__context {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 16px;
    color: #9197B3
  }
  &--active {
    background: #5932EA;
  }
  &--active span  {
    color: #fff;
  }
}