.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 46px;
  border-radius: 8px;
  border: none;
  padding: 13px;
  background-color: $main-white;
  cursor: pointer;

  &__context {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-left: 16px;
    color: $aside-text
  }

  &--active {
    background: $active-background;
  }

  &--active span {
    color: $main-white;
  }
}