* {
  box-sizing: border-box;
}

main {
  background-color: #000;
}

.container {
  background-color: #FAFBFF;
    display: flex;
    justify-content: center;
  @include onDescktop {
    width: 1440px;
    height: 1198px;
    margin: auto;
  }
}