.customers {
  padding: 30px 20px 38px 20px;

  @include onDescktop {
    padding: 30px 40px 38px 41px;
  }

  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  background-color: $main-white;
  color: #292D32;

  &__header {
    flex-direction: column;
    margin: 13px 0 0 0;
    display: flex;


    @include onDescktop {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 13px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin: 0;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #16C098;
    margin-top: 7px;
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__search-input {
    background: #F9FBFF;
    border-radius: 10px;
    padding: 10px 10px 10px 40px;
    border: none;
    width: 100%;

    &::placeholder {
      color: $table-headers;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    color: #7E7E7E;
    z-index: 2;
    left: 11px;
  }

  &__table-content {
    margin: 40px 0 0 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }

  &__table-head {
    color: $table-headers;
    border-bottom: 1px solid #EEE;
    position: relative;

    &:before {
      @include onDescktop {
        position: absolute;
        display: block;
        width: 40px;
        height: 1px;
        content: "";
        border-bottom: 1px solid #eee;
        top: 34px;
        left: -40px;
      }
    }

    &:after {
      @include onDescktop {
        position: absolute;
        display: block;
        width: 40px;
        height: 1px;
        content: "";
        border-bottom: 1px solid #eee;
        top: 34px;
        right: -40px;
      }
    }
  }

  &__pagination {
    margin-top: 32px;
  }

  &__table-header-status {
    text-align: center;
  }

  &__table-status {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4px 0;
    background: #FFC5C5;
    border: 1px solid #DF0404;
    color: #DF0404;
    border-radius: 4px;
    font-size: 10px;
    @include onDescktop {
      max-width: 80px;
      font-size: 14px;
    }

    &--active {
      background: rgba(22, 192, 152, 0.38);
      border: 1px solid #00B087;
      color: #008767;
    }
  }
}

th {
  text-align: left;
  padding: 0 0 14px 0;
  font-size: 10px;
  @include onDescktop {
    font-size: 14px;
  }
}

td {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
font-size: 10px;
  @include onDescktop {
    max-width: 100px;
    font-size: 14px;
  }

}