.operations {
  @include onDescktop {
    padding: 41px 71px;
  }
  &__title {
    display: none;
    @include onDescktop {
      display: block;
      margin: 0;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__customers {
    background-color: $main-white;
    @include onDescktop {
      width: 968px;
      margin-top: 51px;
    }


  }
}