.side-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 306px;
  padding: 40px 0 76px 0;
&__logo {
  align-self: flex-start;
}
  &__nav {
    margin-top: 65px;
  }

  &__nav-btn:not(:first-child) {
    margin-top: 16px;
  }

  &__user-info {
    display: flex;
    align-items: center;
    align-self: flex-start
  }

  &__user-name {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  &__user-name :last-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
  }
}