.side-menu {
  display: flex;
  flex-direction: column;
  height: 1198px;
  width: 306px;
  padding: 36px 0 76px 28px;
  background-color: $main-white;

  &__nav {
    margin-top: 65px;
  }

  &__nav-btn:not(:first-child) {
    margin-top: 16px;
  }

  &__user-info {
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  &__user-name {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  &__user-name :last-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #757575;
  }
}